## Pandas 
* Pandas is one of the most frequently using module in Python which is used for data analysis Purpose.
* Pandas deals with the tabular data by extrating its information, changing, merging, analysing it and etc.
* This tabular data may be in the form of .csv, .JSON, .excel and may be many more....

In [1]:
#importing the pandas module and reading owi_
import numpy as np
import pandas as pd
covid_data = pd.read_csv("owid-covid-data.csv")
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255127,ZWE,Africa,Zimbabwe,2023-01-31,261606.0,0.0,0.000,5652.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
255128,ZWE,Africa,Zimbabwe,2023-02-01,262324.0,718.0,102.571,5658.0,6.0,0.857,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
255129,ZWE,Africa,Zimbabwe,2023-02-02,262324.0,NaN,NaN,5658.0,0.0,0.857,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
255130,ZWE,Africa,Zimbabwe,2023-02-03,262324.0,NaN,NaN,5658.0,0.0,0.857,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
255131,ZWE,Africa,Zimbabwe,2023-02-04,262324.0,NaN,NaN,5658.0,0.0,0.857,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [2]:
#Checking the columns in the present dataframe
covid_data.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [3]:
#Removing irrelevant fields from the data-frame
covid_df = covid_data[['iso_code', 'location', 'date', 'new_cases', 'new_deaths', 
                        'total_cases', 'total_deaths', 'hospital_beds_per_thousand',
                       'life_expectancy', 'human_development_index', 'population' ]].copy()
covid_df

,iso_code,location,date,new_cases,new_deaths,total_cases,total_deaths,hospital_beds_per_thousand,life_expectancy,human_development_index,population
0,AFG,Afghanistan,2020-02-24,5.0,NaN,5.0,NaN,0.5,64.83,0.511,41128772.0
1,AFG,Afghanistan,2020-02-25,0.0,NaN,5.0,NaN,0.5,64.83,0.511,41128772.0
2,AFG,Afghanistan,2020-02-26,0.0,NaN,5.0,NaN,0.5,64.83,0.511,41128772.0
3,AFG,Afghanistan,2020-02-27,0.0,NaN,5.0,NaN,0.5,64.83,0.511,41128772.0
4,AFG,Afghanistan,2020-02-28,0.0,NaN,5.0,NaN,0.5,64.83,0.511,41128772.0
...,...,...,...,...,...,...,...,...,...,...,...
255127,ZWE,Zimbabwe,2023-01-31,0.0,0.0,261606.0,5652.0,1.7,61.49,0.571,16320539.0
255128,ZWE,Zimbabwe,2023-02-01,718.0,6.0,262324.0,5658.0,1.7,61.49,0.571,16320539.0
255129,ZWE,Zimbabwe,2023-02-02,NaN,0.0,262324.0,5658.0,1.7,61.49,0.571,16320539.0
255130,ZWE,Zimbabwe,2023-02-03,NaN,0.0,262324.0,5658.0,1.7,61.49,0.571,16320539.0
255131,ZWE,Zimbabwe,2023-02-04,NaN,0.0,262324.0,5658.0,1.7,61.49,0.571,16320539.0

In [4]:
#Creating a new dataset which containing covid related information for the location "India" 
covid_india_df = covid_df[covid_df.location == "India"]
covid_india_df
covid_india_df = covid_india_df.fillna(covid_india_df.mean()) 
covid_india_df

/var/folders/fq/7fbqswy534bfpc9fhhtch1y00000gn/T/ipykernel_8720/206348412.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  covid_india_df = covid_india_df.fillna(covid_india_df.mean())

,iso_code,location,date,new_cases,new_deaths,total_cases,total_deaths,hospital_beds_per_thousand,life_expectancy,human_development_index,population
103761,IND,India,2020-01-30,1.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103762,IND,India,2020-01-31,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103763,IND,India,2020-02-01,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103764,IND,India,2020-02-02,1.0,494.213409,2.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103765,IND,India,2020-02-03,1.0,494.213409,3.0,327432.685203,0.53,69.66,0.645,1.417173e+09
...,...,...,...,...,...,...,...,...,...,...,...
104858,IND,India,2023-01-31,111.0,0.000000,44684120.0,530740.000000,0.53,69.66,0.645,1.417173e+09
104859,IND,India,2023-02-01,128.0,1.000000,44684248.0,530741.000000,0.53,69.66,0.645,1.417173e+09
104860,IND,India,2023-02-02,99.0,0.000000,44684347.0,530741.000000,0.53,69.66,0.645,1.417173e+09
104861,IND,India,2023-02-03,128.0,4.000000,44684475.0,530745.000000,0.53,69.66,0.645,1.417173e+09
104862,IND,India,2023-02-04,113.0,0.000000,44684588.0,530745.000000,0.53,69.66,0.645,1.417173e+09

In [5]:
#Converting "date" column from objects to actual date using DateTime module
covid_india_df.date
covid_india_df['date'] = pd.to_datetime(covid_india_df.date)
covid_india_df.date

103761   2020-01-30
103762   2020-01-31
103763   2020-02-01
103764   2020-02-02
103765   2020-02-03
            ...
104858   2023-01-31
104859   2023-02-01
104860   2023-02-02
104861   2023-02-03
104862   2023-02-04
Name: date, Length: 1102, dtype: datetime64[ns]

In [6]:
#Converting date on the basis of year, month, day, weekday
covid_india_df["year"] = pd.DatetimeIndex(covid_india_df.date).year
covid_india_df["month"] = pd.DatetimeIndex(covid_india_df.date).month
covid_india_df["day"] = pd.DatetimeIndex(covid_india_df.date).day
covid_india_df["weekday"] = pd.DatetimeIndex(covid_india_df.date).weekday
covid_india_df

,iso_code,location,date,new_cases,new_deaths,total_cases,total_deaths,hospital_beds_per_thousand,life_expectancy,human_development_index,population,year,month,day,weekday
103761,IND,India,2020-01-30,1.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,2020,1,30,3
103762,IND,India,2020-01-31,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,2020,1,31,4
103763,IND,India,2020-02-01,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,2020,2,1,5
103764,IND,India,2020-02-02,1.0,494.213409,2.0,327432.685203,0.53,69.66,0.645,1.417173e+09,2020,2,2,6
103765,IND,India,2020-02-03,1.0,494.213409,3.0,327432.685203,0.53,69.66,0.645,1.417173e+09,2020,2,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104858,IND,India,2023-01-31,111.0,0.000000,44684120.0,530740.000000,0.53,69.66,0.645,1.417173e+09,2023,1,31,1
104859,IND,India,2023-02-01,128.0,1.000000,44684248.0,530741.000000,0.53,69.66,0.645,1.417173e+09,2023,2,1,2
104860,IND,India,2023-02-02,99.0,0.000000,44684347.0,530741.000000,0.53,69.66,0.645,1.417173e+09,2023,2,2,3
104861,IND,India,2023-02-03,128.0,4.000000,44684475.0,530745.000000,0.53,69.66,0.645,1.417173e+09,2023,2,3,4
104862,IND,India,2023-02-04,113.0,0.000000,44684588.0,530745.000000,0.53,69.66,0.645,1.417173e+09,2023,2,4,5

In [7]:
#We can extract covid related information for any particular month, year by using the above dataframe
covid_india_df_may = covid_india_df[covid_india_df.month == 5]
covid_india_df_may

#Stats for any particular year for may month
covid_india_df_year_2020 = covid_india_df_may[covid_india_df_may.year == 2020]
covid_india_df_year_2020 #Further we cna check for any particular date

# Overall status of covid for an entire year.
covid_india_df_year = covid_india_df.groupby('year')[["new_cases", "new_deaths", 
                                                    "total_cases", "total_deaths"]].sum()
covid_india_df_year

         new_cases     new_deaths   total_cases  total_deaths
year
2020  1.028671e+07  169751.963173  1.084280e+09  3.059634e+07
2021  2.457487e+07  325612.213409  9.215076e+09  1.213826e+08
2022  9.942215e+06   49219.000000  1.579321e+10  1.902763e+08
2023  4.715000e+03      40.000000  1.563890e+09  1.857550e+07

In [8]:
# Dropping the columns of year, day, weekday, month from covid_india_df
covid_india_df = covid_india_df.drop(["year", "month", "day", "weekday"], axis = 1)
covid_india_df

,iso_code,location,date,new_cases,new_deaths,total_cases,total_deaths,hospital_beds_per_thousand,life_expectancy,human_development_index,population
103761,IND,India,2020-01-30,1.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103762,IND,India,2020-01-31,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103763,IND,India,2020-02-01,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103764,IND,India,2020-02-02,1.0,494.213409,2.0,327432.685203,0.53,69.66,0.645,1.417173e+09
103765,IND,India,2020-02-03,1.0,494.213409,3.0,327432.685203,0.53,69.66,0.645,1.417173e+09
...,...,...,...,...,...,...,...,...,...,...,...
104858,IND,India,2023-01-31,111.0,0.000000,44684120.0,530740.000000,0.53,69.66,0.645,1.417173e+09
104859,IND,India,2023-02-01,128.0,1.000000,44684248.0,530741.000000,0.53,69.66,0.645,1.417173e+09
104860,IND,India,2023-02-02,99.0,0.000000,44684347.0,530741.000000,0.53,69.66,0.645,1.417173e+09
104861,IND,India,2023-02-03,128.0,4.000000,44684475.0,530745.000000,0.53,69.66,0.645,1.417173e+09
104862,IND,India,2023-02-04,113.0,0.000000,44684588.0,530745.000000,0.53,69.66,0.645,1.417173e+09

In [9]:
#Calculating death rate on the basis of new cases and deaths 
# (neglecting life expextancy and population)
death_rate_covid = covid_india_df.new_deaths.sum() / covid_india_df.new_cases.sum()
print("The overall Death rate reported in India only due to Covid-19 is : {:.2f} %".format(death_rate_covid*100))

The overall Death rate reported in India only due to Covid-19 is : 1.22 %

In [13]:
#Calculating the cases and deaths per million
covid_india_df["cases_per_million"] = covid_india_df.total_cases*1e6 / covid_india_df.population
covid_india_df["deaths_per_million"] = covid_india_df.total_deaths*1e6 / covid_india_df.population
covid_india_df

,iso_code,location,new_cases,new_deaths,total_cases,total_deaths,hospital_beds_per_thousand,life_expectancy,human_development_index,population,cases_per_million,deaths_per_million
date,,,,,,,,,,,,
2020-01-30,IND,India,1.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,0.000706,231.046356
2020-01-31,IND,India,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,0.000706,231.046356
2020-02-01,IND,India,0.0,494.213409,1.0,327432.685203,0.53,69.66,0.645,1.417173e+09,0.000706,231.046356
2020-02-02,IND,India,1.0,494.213409,2.0,327432.685203,0.53,69.66,0.645,1.417173e+09,0.001411,231.046356
2020-02-03,IND,India,1.0,494.213409,3.0,327432.685203,0.53,69.66,0.645,1.417173e+09,0.002117,231.046356
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-31,IND,India,111.0,0.000000,44684120.0,530740.000000,0.53,69.66,0.645,1.417173e+09,31530.459737,374.506115
2023-02-01,IND,India,128.0,1.000000,44684248.0,530741.000000,0.53,69.66,0.645,1.417173e+09,31530.550057,374.506821
2023-02-02,IND,India,99.0,0.000000,44684347.0,530741.000000,0.53,69.66,0.645,1.417173e+09,31530.619915,374.506821
2023-02-03,IND,India,128.0,4.000000,44684475.0,530745.000000,0.53,69.66,0.645,1.417173e+09,31530.710235,374.509644
2023-02-04,IND,India,113.0,0.000000,44684588.0,530745.000000,0.53,69.66,0.645,1.417173e+09,31530.789972,374.509644

In [17]:
#Sorted the given databases on the basis of columns and saving it in the form of csv
covid_india_df
covid_india_df.to_csv("covid_india_df.csv", index=None)